        <div class="footer-container wide">
            <h1>Get In Touch</h1>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class = "footer-header" scope="col">Dyokara</th>
                        <th class = "footer-header" scope="col">Contact Us</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href='https://www.instagram.com/dyokara_/' target="_blank" rel="noopener noreferrer" class = "text-center"><h2><i class="fab fa-instagram mr-1"></i> <span class = "social">Dyokara Instagram</span> </h2></a>
                        </td>
                        <td class = "footer-row"><h2><i class="fas fa-phone-alt mr-1"></i> Neha - +91 9061050541</h2></td>
                    </tr>
                    <tr>
                        <td>
                            <a href='https://www.instagram.com/dyokara_/' target="_blank" rel="noopener noreferrer" class = "text-center"><h2><i class="fab fa-reddit mr-1"></i> <span class = "social">Dyokara Reddit</span></h2></a>
                        </td>
                        <td class = "footer-row"><h2><i class="fas fa-phone-alt mr-1"></i> Paul - +91 8547352021</h2></td>
                    </tr>
                    <tr>
                        <td>
                            <a href='https://www.facebook.com/dyokarahomedecor/' target="_blank" rel="noopener noreferrer" class = "text-center"><h2><i class="fab fa-facebook mr-1"></i> <span class = "social">Dyokara Facebook</span></h2></a>
                        </td>
                        <td class = "footer-row"><h2><i class="fas fa-envelope-square mr-1"></i> dyokarainfo@gmail.com</h2></td>
                    </tr>
                </tbody>
            </table>
        </div>  

        <div class="footer-container narrow">
            <h1>Get In Touch</h1>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class = "footer-header" scope="col">Dyokara</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href='https://www.instagram.com/dyokara_/' target="_blank" rel="noopener noreferrer" class = "text-center"><h2><i class="fab fa-instagram mr-1"></i> <span class = "social">Dyokara Instagram</span> </h2></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href='https://www.instagram.com/dyokara_/' target="_blank" rel="noopener noreferrer" class = "text-center"><h2><i class="fab fa-reddit mr-1"></i> <span class = "social">Dyokara Reddit</span></h2></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href='https://www.facebook.com/dyokarahomedecor/' target="_blank" rel="noopener noreferrer" class = "text-center"><h2><i class="fab fa-facebook mr-1"></i> <span class = "social">Dyokara Facebook</span></h2></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr class="line">

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class = "footer-header" scope="col">Contact Us</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class = "footer-row"><h2><i class="fas fa-phone-alt mr-1"></i> Neha - +91 9061050541</h2></td>
                    </tr>
                    <tr>
                        <td class = "footer-row"><h2><i class="fas fa-phone-alt mr-1"></i> Paul - +91 8547352021</h2></td>
                    </tr>
                    <tr>
                        <td class = "footer-row"><h2><i class="fas fa-envelope-square mr-1"></i> dyokarainfo@gmail.com</h2></td>
                    </tr>
                </tbody>
            </table>
        </div>  

        <script src = "/scripts/navbar.js"></script>
    </body>
</html>