<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/star.css">
<link rel="stylesheet" href="/stylesheets/form.css">
<link rel="stylesheet" href="/stylesheets/app.css">

<%- include("../partials/navbar"); %>

<div class="container initial-container">
    <div class="review form-container">
        <h1 class = "form-heading mb-5">Write a review</h1>
        <form action="/products/<%= product._id %>/reviews" method="POST" class="ui form">
            <div class="field">
                <textarea class="form-control" name = "review[text]" placeholder = "Leave your thoughts here..." rows="5" required></textarea>
            </div>
            <div class="field">
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <button class = "ui button submit" type="submit" disabled>Submit</button>
        </form>
    </div>
</div>

<script src = "/scripts/review_validation.js"></script>

<%- include("../partials/footer"); %>