<%- include("./partials/header"); %>    
        
    </head>

    <body>
        <link rel = "stylesheet" href = "/stylesheets/landing.css">

        <div class = "landing-container">
            <div class = "logo"></div>
            <div class = "button-container">
                <a class = "ui button" href = "/products">Products</a>
                <% if(!currentUser){ %>
                    <a class = "ui button" href = "/login">Sign Up / Login</a>
                <% } %>
            </div>
        </div>
    </body>
</html>