<h1>
	Checkout page 
</h1>

<% order.forEach(function(item){%>
	<div>
		<li><%=item.product.name%></li>
		<img src="<%=item.product.image%>">
        <li>Rs <%=item.product.price%></li>
        <li>Qty: <%=item.quantity%></li>
    </div>
<%})%>