<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/form.css">
<link rel="stylesheet" href="/stylesheets/auth.css">

<%- include("../partials/navbar"); %>

<div class="container">
    <div class="form-container">
        <h1 class = "form-heading mb-5">Some additional details</h1>
        <form action="/login/details" method="POST" class="ui form">
            <div class="field">
                <label class = "label" for = "phoneNumber">Phone Number</label>
                <input class = "form-input" type="text" name="phoneNumber" id = "phoneNumber" placeholder="Your mobile number" required>
            </div>
            <div class="field">
                <label class = "label" for = "shippingAddress">Shipping Address</label>
                <textarea class="form-input" name = "shippingAddress" id = "shippingAddress" placeholder = "Full address, including pin code..." rows="5" required></textarea>
            </div>
            <button class = "ui button submit mt-3" type="submit">Submit</button>
        </form>
    </div>
</div>

<%- include("../partials/footer"); %>