<%- include("../partials/header"); %>

<link rel="stylesheet" href="/stylesheets/form.css"/>
<link rel="stylesheet" href="/stylesheets/app.css"/>

<%- include("../partials/navbar"); %>

<div class="container initial-container">
    <div class="form-container">
        <h1 class = "form-heading mb-5">Edit Info</h1>

        <form action = "/info?_method=PUT" method = "POST" class = "ui form">
            <div class="field">
                <label class = "label" for = "announcement">Announcement</label>
                <textarea class = "form-control" name = "announcement" rows="3" id = "announcement"><%= announcement %></textarea>
            </div>

            <button class = "ui button submit" type="submit">Save</button>
        </form>
    </div>
</div>

<%- include("../partials/footer"); %>