.container.initial-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 85%;
    padding: 1rem;

    background-color: #FAF9F9;

    box-shadow: 0 0.5rem 1rem rgba( 0 , 0 , 0 , 0.5);

    margin-bottom: 4rem;
}

.order-header
{
    font-weight: 600;
    font-size: 2.25rem;

    background-color: #553328;
    color: #FAF9F9;

    box-shadow: 0 1rem 2rem rgba( 0 , 0 , 0 , 0.5);
}

.order-details
{
    width: 50%;

    display: flex;
    justify-content: space-around;

    text-align: center;
}

.number
{
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.order-status
{
    width: 20%;

    display: flex;
    justify-content: space-around;
}

.order-status-form
{
    display: flex;
    justify-content: center;
}

.ui.button.order-status
{
    width: initial;
    padding: 1rem;
}

/* .ui.button.order-status:hover
{
    color:#555B6E;
    background-color: #FAF9F9; 
    transform: translateY(-0.3rem);
    box-shadow: 0 2rem 4rem rgba( 0 , 0 , 0 , 0.5); 
}

.ui.button.order-status:active
{
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 2rem rgba( 0 , 0 , 0 , 0.5); 
} */

.success
{
    background-color: rgba(15, 155, 2, 0.5);
    color: rgb(9, 78, 2);
}

.error
{
    background-color: rgba(230, 45, 45, 0.5);
    color: rgb(105, 0, 0);
}

@media only screen and (max-width: 992px) 
{
    html 
    {
        font-size: 9px;
    }

    .order
    {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) 
{
    .order-details, .order-status
    {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .order-field
    {
        margin: 0.75rem 0;
    }
}

@media only screen and (max-width: 500px) 
{
    html
    {
        font-size: 7px;
    }
}

@media only screen and (max-width: 410px) 
{
    html
    {
        font-size: 6px;
    }
}