.container.initial-container
{
    flex-direction: column;
    align-items: center;
}

.bag
{
    width: 100%;
}

.box.header-box
{
    width: fit-content;
}

.box.header-box
{
    width: fit-content;
}

.item-image
{
    width: 13.123rem; 
}