/* Theme colour #623d27 */

*
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    z-index: inherit;
}

html
{
    font-size: 10px;
}

body
{
    box-sizing: border-box;

    font-family: 'Baskervville', serif;
    font-size: 1.6rem;
    color: #623d27;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;
}

body::before
{
    content: " ";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    display: block;
    background-image: url("https://images.unsplash.com/photo-1467987506553-8f3916508521?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    /* background-image: url("https://images.unsplash.com/photo-1584622781564-1d987f7333c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); */
    background-position: bottom;
    background-size: cover;
    opacity: 0.8;
}

.form-container 
{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5rem;
    border-radius: 1rem;
    width: 65rem;

    animation: render 1s ease-out;
}

.ui.form
{
    font-size: 1.6rem;
}

.form-heading
{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
}

.ui.form .field
{
    width: 100%;
    display: inline-block;
    height: 7.5rem;

    text-align: center;
    margin: 1.5rem 0;
}

.ui.form .field .form-input
{
    border-radius: 0;
    color: #623d27;
    border-radius: 0.5rem;

    transition: all 0.2s;
}

.ui.form .field .form-input:focus
{
    border: 0.1rem solid #623d27;
    color: #623d27;
    border-radius: 0.5rem;
}

.ui.form .field .label
{
    text-align: left;
    margin-bottom: 2rem;

    font-weight: 800;
    font-size: 1.75rem;
    color: #623d27;
    letter-spacing: 0.25rem;
}

.ui.button
{
    display: inline-block;
    background-color:rgb(98, 61, 39, 0.8);
    color: white;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;

    letter-spacing: 0.25rem;
    font-size: 1.75rem;
    font-family: 'Baskervville', serif;

    transition: all 0.2s;
}

.ui.button:hover
{
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba( 0 , 0 , 0 , 0.5); 
}

.ui.button:active
{
    transform: translateY(-0.1rem);
    box-shadow: 0 .5rem 1rem rgba( 0 , 0 , 0 , 0.5); 
}

@keyframes render
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@media only screen and (max-width: 75rem) 
{
    html 
    {
        font-size: 8px;
    }
}

@media only screen and (max-width: 40rem) 
{
    html 
    {
        font-size: 6px;
    }
}