body
{
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

body::before
{
    background-image: url("https://res.cloudinary.com/dyokara/image/upload/v1608443141/App/landing_landscape_psm1qn.jpg");
    opacity: 1;

    background-size: cover;
    background-position: left;

    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.landing-container
{
    position: absolute;
    bottom: 20%;
    left: 2.5%;
    width: 38.08rem;
}

.logo
{
    background-image: url("https://res.cloudinary.com/dyokara/image/upload/v1610269490/App/logo1_ijmrsq.png");
    background-size: cover;
    background-position: center;

    width: 30rem;
    height: 7.5rem;

    margin: 0 auto;
    margin-bottom: 4rem;
}

.button-container
{
    margin: 0 auto;

    width: 22rem;
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

@keyframes slide-in
{
    0%
    {
        opacity: 0%;
    }

    100%
    {
        opacity: 100%;
    }
}

@media only screen and (max-width: 660px) 
{
    body::before
    {
        background-image: url("https://res.cloudinary.com/dyokara/image/upload/v1608443166/App/landing_portrait_xvxzky.jpg");
        background-position: center;
    }

    .landing-container
    {
        width: 75%;
        bottom: 35%;
        left: 12.5%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo
    {
        margin-bottom: 5rem;

        width: 20rem;
        height: 5rem;
    }
}