body
{
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

body::before
{
    background-image: url("/images/landing_landscape.jpg");
    opacity: 1;

    background-size: cover;
    background-position: left;

    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.landing-container
{
    position: absolute;
    bottom: 20%;
    left: 2.5%;
    width: 38.08rem;
}

.logo
{
    background-image: url("/images/logo.jpg");
    background-size: cover;
    background-position: center;

    width: 38.08rem;
    height: 11rem;

    margin: 0 auto;
    margin-bottom: 15rem;
}

.button-container
{
    margin: 0 auto;

    width: 22rem;
    height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/* @media only screen and (max-width: 1135px) 
{
    .logo
    {
        margin-bottom: 10rem;
    }
}

@media only screen and (max-width: 992px) 
{
    .landing-container
    {
        width: 28.56rem;
    }

    .logo
    {
        width: 28.56rem;
        height: 7.575rem;
    }
}

@media only screen and (max-width: 768px) 
{
    .landing-container
    {
        width: 23.8rem;
    }

    .logo
    {
        margin-bottom: 12.5rem;

        width: 23.8rem;
        height: 6.3125rem;
    }
}

@media only screen and (max-width: 660px) 
{
    html
    {
        font-size: 9px;
    }

    .landing-container
    {
        width: 20.944rem;
    }

    .logo
    {
        width: 19.04rem;
        height: 5.555rem;
    }
} */

@keyframes slide-in
{
    0%
    {
        opacity: 0%;
    }

    100%
    {
        opacity: 100%;
    }
}

@media only screen and (max-width: 660px) 
{
    body::before
    {
        background-image: url("/images/landing_portrait.jpg");
        background-position: center;
    }

    .landing-container
    {
        width: 75%;
        bottom: 35%;
        left: 12.5%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo
    {
        margin-bottom: 5rem;

        width: 28.56rem;
        height: 7.575rem;
    }
}