*{
    font-size: 16px;
    /* font-family: 'Baskervville', serif!important; */
    color: #623d27;
  }
  .container-navbar {
    margin-left: 6.25rem;
    padding-top:  0.375rem;
    height: 4.375rem;
    padding-bottom: 4.5rem;
    margin-right:  6.25rem;
    top:0;
    z-index: 10;
    background-color: white;
    border-radius: 0.625rem;
    opacity: 0.95;
  }
  
  .container-navbar .menu a{
      font-size: 1.0625rem!important;
      font-weight: bold!important;
      color: #623d27!important;
  }
  .menu .logo img{
    padding:0.0625rem;
    height:3.125rem;
    width:19rem;
    margin-left: 20rem;
    margin-top:0.3125rem;
  }
  .menu .item .fa{
    margin-left: 2rem;
    color: #623d27!important;
  }
  #new{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://images.unsplash.com/photo-1505015981034-6c23000c260c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  #new h1{
    text-align: center;
    color:#623d27!important;
    padding-bottom: 0.625rem;
    font-size: 3.125rem!important;
  }
  #new h2{
    text-align: center;
    color:#623d27!important;
    padding-bottom: 0.625rem;
    font-size: 2.5rem!important;
  }
  #new h1::after{
    content:'';
    background:#623d27;
    display:block;
    height:0.1875rem;
    width:10.625rem;
    margin: 1.25rem auto 0.3125rem;
  }
  
  .container-new .input{
    margin-left: 11rem;
    margin-right: 11rem;
    margin-bottom: 3rem!important;
  }
  
  .container-new h3{
    margin-left: 11rem;
  }
  
  .grid.container {
    margin-top: 5em;
    margin-bottom: 3rem!important;
  }
  .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      /* overflow: hidden; */
      position: absolute;
      z-index: -1;
  }
  .container-new .button{
    color: #FFFFFF!important;
    background-color:  #623d27!important;
  }
  .container-new .last .button{
    color: #FFFFFF!important;
    background-color:  #623d27!important;
    margin-left: 45%!important;
  }
  /* ----------------------------------------------------foooter----------------------------- */
  .container-footer{
  padding-top:1.875rem;
  padding-left: 12.5rem;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://images.unsplash.com/photo-1593371256584-ac70d0ab43d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-attachment: fixed;
  }
  .container-footer h1{
    text-align: center;
    color:#623d27!important;
    padding-bottom: 0.625rem;
    font-size: 2.5rem;
    padding-right: 12.5rem;
  }
  .container-footer h1::after{
    content:'';
    background:#623d27!important;
    display:block;
    height:0.1875rem;
    width:10.625rem;
    margin: 1.875rem auto 0.3125rem;
    margin-bottom: 0rem!important;
  }
  .container-footer .list .item{
    text-align: left!important;
    padding: 4.375rem!important;
  }
  .container-footer a{
    font-size: 1.25rem;
    padding: 0.2125rem!important;
    /* margin-bottom: 0rem!important; */
    text-align:left;
  }
  .container-footer h4{
    color: #C0C0C0!important;
    /* margin-bottom: 0.0rem!important; */
  }
  .container-footer li{
    margin-top:0rem!important;
  }
  .fa{
    margin-top: 0.5rem;
    color: #C0C0C0!important;
  }
  .container-footer .list .content{
    float:left!important;
    margin-left:  9rem!important;
  }
  