.product-showcase
{
    margin-bottom: 4rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.carousel.slide
{
    height: 45rem;
    width: 45rem;

    border-radius: 0.5rem;

    box-shadow: 0 0.5rem 1rem rgba( 0 , 0 , 0 , 0.5);
}

.carousel-item img
{
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
}

#productCarousel:hover
{
    box-shadow: 0 1rem 2rem rgba( 0 , 0 , 0 , 0.5);
    transition: all 0.2s;
}

.carousel-control-icon
{
    color: #361c14;
    padding: 0 0.4rem;
    background-color: rgba( 255 , 255 , 255 , 0.5);
    font-size: 2rem;
}

.container
{
    font-size: 2.25rem;
}

.product-showcase, .product-variations
{
    display: flex;
    justify-content: space-between;

    margin-bottom: 4rem;
    height: fit-content;
}

.action-container
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    width: 17.5%;
    height: 4rem;

    margin-bottom: 0.75rem;
}

.icon-button
{
    font-size: 2.5rem;
    display: flex;
    padding-bottom: 0.45rem;
    color: #fde3cb;

    cursor: pointer;
}

.icon-button:hover
{
    color: #553328;
}

.product-overview
{
    background-color: #FAF9F9;

    padding: 1rem;

    font-size: 2rem;

    width: 45rem;
    min-height: 100% ;
    max-height: fit-content;

    border-radius: 0.5rem;

    box-shadow: 0 0.5rem 1rem rgba( 0 , 0 , 0 , 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-header
{
    width: 100%;
}

.ui.form .inline.fields
{
    font-size: 2.5rem;
    margin-bottom: 0;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
}

.ui.form .inline.fields label
{
    margin-bottom: 0;
    font-size: 2.25rem;
}

.product-rating
{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;

    width: 8%;
}

.product-name
{
    font-size: 2.5rem;
    font-weight: 600;
}

.product-details
{
    width: 100%;
    height: 50%;
}

.product-details-separator
{
    width: 10%;
}

.product-details-value
{
    width: 45%;
}

.product-quantity
{
    margin: 0 auto;
    margin-top: 2rem;
}

input.form-control-lg
{
    font-size: 1.75rem;
    font-weight: 300;
    text-align: center;

    padding: 0.25rem;

    height: 3rem;

    margin: 0 2rem;
}

.product-links
{
    width: 100%;
    height: 15%;

    display: flex;

    justify-content: space-around;
}

.product-variations
{
    margin-bottom: 6rem;
}

.product-variations-section
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-wrap: wrap;

    height: fit-content;
    min-height: 6rem;

    width: 45rem;
}

.full
{
    width: 100%;
}

.product-variations-item
{
    width: fit-content;
    min-width: 25%;

    margin: 0 2.5%;
    padding: 0.75rem 1.25rem;
    background-color: #FAF9F9;

    border-radius: 0.5rem;

    text-align: center;
    text-decoration: none;
    color: #553328;
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 1.75rem;

    box-shadow: 0 1rem 2rem rgba( 0 , 0 , 0 , 0.5);

    transition: all 0.2s;

    margin-bottom: 2rem;
}

.product-variations-item:hover
{   
    text-decoration: none;
    color: #553328;

    box-shadow: 0 0.75rem 1.5rem rgba( 0 , 0 , 0 , 0.5);

    background-color: #fbe1ca;

    cursor: pointer;
}

.product-variations-item:active
{   
    text-decoration: none;
    color: #553328;

    box-shadow: 0 0.5rem 1rem rgba( 0 , 0 , 0 , 0.5);

    background-color: #fbe1ca;

    cursor: pointer;
}

.selected
{
    color: #fbe1ca;

    background-color: #553328;

    box-shadow: 0 0.5rem 1rem rgba( 0 , 0 , 0 , 0.5);

    pointer-events: none;
    cursor: default;
}

.product-section
{
    margin-bottom: 8rem;
    width: 100%;
}

.third.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-heading
{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.75rem;

    margin: 0 auto;
    width: fit-content;
    border-bottom: 0.2rem solid #553328;

    padding-left: 1rem;
}

.line
{
    border: 0.1rem solid #553328;
}

.customisation-line
{
    width: 25rem;
}

.purchase-line
{
    width: 40rem;
}

.description-line
{
    width: 25rem;
}

.table-box
{
    padding: 3rem 2rem;

    background-color: rgba(255, 255, 255, 0.6);
}

.product-table
{
    /* border: 1px solid #553328; */

    margin-bottom: 0;
}

.table-row
{
    border: 1px solid #553328;
}

.product-table .table-row .table-row-element
{
    border: 1px solid #553328;
}

.product-review
{
    display: flex;  
    flex-direction: column;

    justify-content: space-between;

    min-height: 9rem;

    background-color: rgba(255, 255, 255, 0.6);
}

.product-review-author
{
    font-size: 2.25rem;
    font-weight: 600;
}

.product-review-rating
{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}

.space
{
    height: 0.25rem;
}

.ui.button.submitButton
{
    width: 22.5rem;
}

.footer-container
{
    position: relative;
    top: initial;
}

@media only screen and (max-width: 1200px)
{
    .carousel.slide, .product-overview
    {
        width: 40rem;
        height: fit-content;
    }

    .product-variations-section
    {
        width: 40rem;
    }
} 

@media only screen and (max-width: 992px) 
{
    .product-showcase, .product-variations
    {
        flex-direction: column;
        align-items: center;

        height: fit-content;
    }

    .carousel.slide
    {
        width: 65%;
    }

    .product-overview
    {
        width: 65%;
        
        margin-top: 3rem;

        height: fit-content;
    }

    .product-variations
    {
        margin-bottom: 1.5rem;
    }

    .product-variations-section
    {
        margin-top: 2rem;
    }

    .product-links
    {
        flex-direction: column;
        align-items: center;
    }

    .product-links .ui.button
    {
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 768px) 
{
    .carousel.slide
    {
        width: 90%;
    }

    .product-showcase
    {
        margin-bottom: 1rem;
    }

    .product-overview
    {
        width: 90%;
    }
}

@media only screen and (max-width: 576px) 
{
    i.fas
    {
        display: inline-block;
    }

    .product-variations-section
    {
        width: 90%;
    }

    .personalisation, .purchase
    {
        width: 90%;
    }
}

@media only screen and (max-width: 460px) 
{
    .purchase-line
    {
        width: 95%;
    }
}