<h1>New product</h1>
<a href="/products">Back</a>
<form action="/" method="POST">
    <div>
        <label>Name</label>
        <input type="text" name="name" placeholder="Product name" required>
    </div>
    <div>
        <label>Image</label>
        <input type="text" name="image" placeholder="Product image" required>
    </div>
	<div>
		<label>Price</label>
		<input type="text" name="price" placeholder="price" required>
	</div>
    <button type="submit">Submit</button>
</form>